.header {
  background-color: var(--color-elements);
  box-shadow: 0 4px 12px -10px var(--shadow);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;

    h1 {
      font-weight: var(--fw-bold);

      @media (max-width: 600px) {
        font-size: 1rem;
      }

      a {
        color: var(--color-text);
        text-decoration: none;
      }
    }

    button {
      border: unset;
      background: unset;
      font-size: inherit;
      font-weight: var(--fw-normal);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.8rem;
      color: var(--color-text);

      @media (max-width: 600px) {
        font-size: 0.75rem;
        gap: 0.5rem;
      }
    }
  }
}
